<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link th:href="@{/css/templatemo_style.css}" rel="stylesheet"
	type="text/css" />
<title>Forgot Password</title>
<script src="code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.js"></script>
</head>
<body>
	<nav th:replace="user_admin/indexheader :: ${header}"></nav>
	<div id="templatemo_container">
		<div id="templatemo_content">
			<div id="templatemo_content_left">
				<nav
					th:replace="user_admin/indexheader :: templatemo_content_left_sec"></nav>
			</div>
			<hr id="hr_hr" />
			<div id="templatemo_content_right">
				<div th:if="${param.success}">
					<script type="text/javascript">
						$(document)
								.ready(
										function() {
											document.getElementById("a_e").innerHTML = "OK";
											document
													.getElementById("showError").innerHTML = "You've successfully requested a new password reset! You have 3 hour to check email!";
											$('.alert').addClass('show');
											$('.screen').addClass('show');
											$('.btn-close')
													.click(
															function(event) {
																window.location.href = "/login";
															});
											$('.screen')
													.click(
															function(event) {
																window.location.href = "/login";
															});
										});
					</script>
				</div>
				<div th:unless="${param.success}">
					<script>
						$(document)
								.ready(
										function() {
											var er = '';
											var gt = $('#t').text();
											if (gt != '') {
												gt = ' - Bạn cần nhập đúng Email với dạng abc@mno.jkl';
												$('#t').html(gt);
												er += gt;
											}
											if (er != '') {
												document.getElementById("a_e").innerHTML = "ERROR";
												document
														.getElementById("showError").innerHTML = er;
												$('.alert').addClass('show');
												$('.screen').addClass('show');
											}
											$('.btn-close')
													.click(
															function(event) {
																$('.alert')
																		.removeClass(
																				'show');
																$('.screen')
																		.removeClass(
																				'show');
															});
											$('.screen')
													.click(
															function(event) {
																$('.alert')
																		.removeClass(
																				'show');
																$('.screen')
																		.removeClass(
																				'show');
															});
										});
					</script>
				</div>
				<br><br>
				<div class="panel-body"
					style="background: #4b4743; color: red; font-size: 20px; width: 400px; margin: 0 auto;";>
					<div class="text-center">
						<h3>
							<i class="glyphicon glyphicon-lock"
								style="font-size: 2em; color: #5cb85c;"></i>
						</h3>
						<h1 class="text-center"
							style="background-color: #4b4743; color: #5cb85c;">Forgot
							Password?</h1>
						<p style="text-align: center;">&nbsp;&nbsp;Enter your e-mail
							address and we'll send you a link to reset your password.</p>
						<div class="panel-body">
							<form th:action="@{/forgot-password}"
								th:object="${forgotPasswordForm}" method="post">
								<div class="form-group"
									th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
									<div class="input-group">
										<span class="input-group-addon"
											style="padding: 0px 20px 0px 20px;"> <i
											class="glyphicon glyphicon-envelope color-blue"></i>
										</span> <input id="email" class="form-control"
											placeholder="email address" th:field="*{email}" /><span
											class="error-message"
											th:each="error : ${#fields.errors('email')}" id="t"
											th:text="${error}"></span>
									</div>
									<p hidden="hidden" class="error-message"
										th:each="error : ${#fields.errors('email')}"
										th:text="${error}" id="t">Validation error</p>
								</div>
								<div class="form-group">
									<button class="btn btn-success btn-block" type="submit">Reset
										Password</button>
								</div>
							</form>
							<div class="">
								<div class="col-md-12">
									New user? <a href="/" th:href="@{/registration}">Register</a> <br>
									<br> Already registered? <a href="/" th:href="@{/login}"
										style="font-size: 17px";>Login</a>
								</div>
							</div>
							<div class="screen"></div>
							<div class="alert">
								<h3 id="a_e"></h3>
								<div class="Info">
									<p id="showError"></p>
									<br>
									<button class="btn-close" type="button">OK</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<br>
				<br>
				<script>
					var h1 = $("#templatemo_content_left").height();
					var h2 = $("#templatemo_content_right").height();
					if (h2 > h1)
						h1 = h2
					$("#templatemo_content_left").height(h1);
					$("#hr_hr").height(h1);
					$("#templatemo_content_right").height(h1);
				</script>
			</div>
		</div>
	</div>
	<div class="cleaner_with_height">&nbsp;</div>
	<footer th:replace="user_admin/indexheader :: ${footer}"></footer>
	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>
