<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link th:href="@{/css/templatemo_style.css}" rel="stylesheet"
	type="text/css" />
<script src="code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.js"></script>

<title>Login</title>
</head>
<body>
	<nav th:replace="user_admin/indexheader :: ${header}"></nav>
	<div id="templatemo_container">
		<div id="templatemo_content">
			<div id="templatemo_content_left">
				<nav
					th:replace="user_admin/indexheader :: templatemo_content_left_sec"></nav>
			</div>
			<hr id="hr_hr" />
			<div id="templatemo_content_right" style="color: red; height: 440px;">
				<div th:if="${param.error}">
					<script>
						$(document)
								.ready(
										function() {
											var er = 'Username or Password is available';
											if (er != '') {
												document.getElementById("a_e").innerHTML = "ERROR";
												document
														.getElementById("showError").innerHTML = er;
												$('.alert').addClass('show');
												$('.screen').addClass('show');
											}
											$('.btn-close')
													.click(
															function(event) {
																$('.alert')
																		.removeClass(
																				'show');
																$('.screen')
																		.removeClass(
																				'show');
															});
											$('.screen')
													.click(
															function(event) {
																$('.alert')
																		.removeClass(
																				'show');
																$('.screen')
																		.removeClass(
																				'show');
															});
										});
					</script>
				</div>
				<br></br>
				<h1 style="font-weight: 700;">Login</h1>
				<form th:action="@{/login}" method="post">
					<div id="login_form">
						<div class="form-group">
							<label for="username" style="font-size: 20px;">Username</label>:
							<input type="text" id="username" name="username"
								class="form-control" autofocus="autofocus"
								style="padding: 0px 0px 0px 10px;" placeholder="Username" />
						</div>
						<div class="form-group">
							<label for="password" style="font-size: 20px;">Password</label>:
							<input type="password" id="password" name="password"
								style="padding: 0px 0px 0px 10px;" class="form-control"
								placeholder="Password" />
						</div>
						<input type="hidden" name="remember-me" value="true" />
						<div style="width: 30%; margin: 0 auto;";>
							<div class="form-group">
								<input type="submit" name="login-submit" id="login-submit"
									style="font-size: 20px;" class="form-control btn btn-primary"
									value="Log In" />
							</div>
						</div>
						<div class="form-group"
							style="font-size: 20px; margin: 0px 0px 0px 150px;">
							<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;New
								user? <a th:href="@{/registration}">Register here</a>
							</span><br></br> <span>Forgot password here<a
								th:href="@{/forgot-password}">Forget Password</a></span> <br></br>
						</div>
					</div>
				</form>
			</div>
			<div class="screen"></div>
			<div class="alert">
				<h3 id="a_e"></h3>
				<div class="Info" style="text-align: center; font-size: 20px;">
					<p id="showError"></p>
					<br>
						<button class="btn-close" type="button">OK</button>
				</div>
			</div>
		</div>
	</div>
	</div>

	<script>
		var h1 = $("#templatemo_content_left").height();
		var h2 = $("#templatemo_content_right").height();
		if (h2 > h1)
			h1 = h2
		$("#templatemo_content_left").height(h1);
		$("#hr_hr").height(h1);
		$("#templatemo_content_right").height(h1);
	</script>
	<div class="cleaner_with_height">&nbsp;</div>
	<footer th:replace="user_admin/indexheader :: ${footer}"></footer>
</body>
</html>