<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />


<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link th:href="@{/css/templatemo_style.css}" rel="stylesheet"
	type="text/css" />
<script src="code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.js"></script>
<title>Forgot Password</title>
</head>
<body>
	<nav th:replace="user_admin/indexheader :: ${header}"></nav>
	<div id="templatemo_container">
		<div id="templatemo_content">
			<div id="templatemo_content_left">
				<nav
					th:replace="user_admin/indexheader :: templatemo_content_left_sec"></nav>
			</div>
			<hr id="hr_hr" />
			<div id="templatemo_content_right">
				<div th:if="${param.success}">
					<script type="text/javascript">
						$(document)
								.ready(
										function() {
											document.getElementById("a_e").innerHTML = "OK";
											document
													.getElementById("showError").innerHTML = "You've successfully requested a new password reset! You have 3 hour to check email!";
											$('.alert').addClass('show');
											$('.screen').addClass('show');
											$('.btn-close')
													.click(
															function(event) {
																window.location.href = "/login";
															});
											$('.screen')
													.click(
															function(event) {
																window.location.href = "/login";
															});
										});
					</script>
				</div>
				<div th:unless="${param.success}">
					<script>
						$(document)
								.ready(
										function() {
											var er = '';
											var gt = $('#t').text();
											if (gt != '') {
												gt = ' - Password và Comfirm Password phải giống nhau.';
												$('#t').html(gt);
												if (er != '')
													er += '<br>' + gt;
												else
													er += gt;
											}
											gt = $('#t1').text();
											if (gt != '') {
												gt = ' - Bạn cần nhập đúng Password có dạng : Chữ đầu tiên viết hoa, có ít nhất 1 kí tự đặc biệt và ít nhất 1 số và không có khoảng trắng .';
												$('#t1').html(gt);
												if (er != '')
													er += '<br>' + gt;
												else
													er += gt;
											}
											gt = $('#t2').text();
											if (gt != '') {
												gt = ' - Không thể thay đổi password khi chưa có xác nhận đổi pass bằng Email';
												$('#t2').html(gt);
												if (er != '')
													er += '<br>' + gt;
												else
													er += gt;
											}
											if (er != '') {
												document.getElementById("a_e").innerHTML = "ERROR";
												document
														.getElementById("showError").innerHTML = er;
												$('.alert').addClass('show');
												$('.screen').addClass('show');
											}
											$('.btn-close')
													.click(
															function(event) {
																$('.alert')
																		.removeClass(
																				'show');
																$('.screen')
																		.removeClass(
																				'show');
															});
											$('.screen')
													.click(
															function(event) {
																$('.alert')
																		.removeClass(
																				'show');
																$('.screen')
																		.removeClass(
																				'show');
															});
										});
					</script>
				</div>
				<br> <br>
				<h1>Reset password</h1>
				<div class="panel-body"
					style="background: #4b4743; color: red; font-size: 20px; width: 400px; margin: 0 auto;">
					<div class="text-center">
						<h3>
							<i class="glyphicon glyphicon-lock"
								style="font-size: 2em; color: #5cb85c;"></i>
						</h3>
						<h1 class="text-center"
							style="background-color: #4b4743; color: #5cb85c;">Forgot
							Password?</h1>
						<div th:if="${error}">
							<div class="alert alert-danger">
								<span th:text="${error}" id = "t2" hidden="hidden"></span>
							</div>
						</div>
						<form th:action="@{/reset-password}"
							th:object="${passwordResetForm}" method="post">

							<p class="error-message" th:if="${#fields.hasGlobalErrors()}"
								th:each="error : ${#fields.errors('global')}" th:text="${error}"
								id='t'>Validation error</p>

							<input type="hidden" name="token" th:value="${token}" />

							<div class="form-group"
								th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
								<div class="input-group">
									<span class="input-group-addon"> <i
										class="glyphicon glyphicon-lock"></i>
									</span> <input id="password" class="form-control"
										placeholder="password" type="password" th:field="*{password}" />
								</div>
								<p class="error-message"
									th:each="error: ${#fields.errors('password')}"
									th:text="${error}" id='t1'>Validation error</p>
							</div>
							<div class="form-group"
								th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
								<div class="input-group">
									<span class="input-group-addon"> <i
										class="glyphicon glyphicon-lock"></i>
									</span> <input id="confirmPassword" class="form-control"
										placeholder="Confirm password" type="password"
										th:field="*{confirmPassword}" />
								</div>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-block btn-success">Reset
									password</button>
							</div>
						</form>
						<div>
							<div class="col-md-12">
								New user? <a href="/" th:href="@{/registration}">Register</a>
							</div>
							<div class="col-md-12">
								Already registered? <a href="/" th:href="@{/login}">Login</a>
							</div>
						</div>
						<div class="screen"></div>
						<div class="alert">
							<h3 id="a_e"></h3>
							<div class="Info">
								<p id="showError"></p>
								<br>
								<button class="btn-close" type="button">OK</button>
							</div>
						</div>
					</div>
				</div>
				<br> <br>
			</div>
		</div>
		<script>
			var h1 = $("#templatemo_content_left").height();
			var h2 = $("#templatemo_content_right").height();
			if (h2 > h1)
				h1 = h2
			$("#templatemo_content_left").height(h1);
			$("#hr_hr").height(h1);
			$("#templatemo_content_right").height(h1);
		</script>
	</div>
	<div class="cleaner_with_height">&nbsp;</div>
	<footer th:replace="user_admin/indexheader :: ${footer}"></footer>
	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>