<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Book Store</title>
<meta name="keywords" content="" />
<meta name="description" content="" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

<link th:href="@{/css/templatemo_style.css}" rel="stylesheet"
	type="text/css" />

<link th:href="@{/css/listbook.css}" rel="stylesheet" type="text/css" />

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"
	th:src="@{/webjars/jquery/1.12.4/jquery.min.js}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script src="code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.js"></script>
</head>
<body>

	<nav th:replace="user_admin/indexheader :: ${header}"></nav>

	<div id="templatemo_container">
		<div id="templatemo_content">

			<div id="templatemo_content_left">
				<nav
					th:replace="user_admin/indexheader :: templatemo_content_left_sec"></nav>
			</div>
			<hr id="hr_hr" />
			<!-- end of content left -->
			<div id="templatemo_content_right">
				<h1>List Book</h1>

				<div id="gom">
					<a th:href="@{/bookview/createform}"
						style="font-size: 14pt;float: left">Add
						New Book</a>
					<form class="searchbar" th:action="@{/book/search/1}" method="get">
						<div class="form-group searchs">
							<input type="text" class="form-control" name="s"
								placeholder="Search type book..."
								style="margin: -10px 0px -3px -75px; padding: 0px 42px 0px 20px;" />
							<button type="submit" class="btn btn-primary"
								style="margin: -45px 0px 0px 77px; margin: -45px 10px 1px 130px;">
								<img th:src="@{/images/icon_search.png}"
									style="width: 30px; height: 30px;">
							</button>
						</div>
					</form>
				</div>
				<div id="listbook">
					<th:block th:if="${#lists.isEmpty(books.pageList)}">
						<br>
						<br>
						<br>
						<br>
						<h1>No book</h1>
					</th:block>

					<nav th:fragment="menubook">
						<th:block th:unless="${#lists.isEmpty(books.pageList)}">
							<div class="menu">
								<div class="product book1"
									th:each="contact,iterStat : ${books.pageList}">
									<div class="images">
										<img th:src="@{|/images/booksCover/${contact.picture}|}"
											style="width: 100%; height: 100%;">
									</div>

									<ul>
										<li>Code: <span th:text="${contact.id}"
											th:title="${contact.id}"></span></li>
										<li>Title: <span th:text="${contact.title}"
											th:title="${contact.title}"></span></li>
										<li>Author: <span th:text="${contact.authors}"
											th:title="${contact.authors}"></span></li>
										<div class="buy_now_button" style="margin: 5px 0px 0px 5px;">
											<a th:href="@{/bookview/infor/{id}(id=${contact.id})}">Detail</a>
											<a href="subpage.html">Buy Now</a> <a
												th:href="@{|/book/${contact.id}/download|}">Download</a>
										</div>
										<div th:if="${ok == 'TRUE'} or ${contact.ok == 1}"
											style="margin: -40px 0px 0px 145px; font-size: 15px;">
											<a th:href="@{/bookview/editform/{id}(id=${contact.id})}"><span></span>Edit</a>
											<a th:href="@{/book/{id}/delete(id=${contact.id})}"><span></span>Delete</a>
										</div>
									</ul>

								</div>
							</div>
							<div class="cleaner_with_height">&nbsp;</div>
							<ul class="pagination" style="margin: 5px 0px 0px 0px;">
								<li
									th:class="${currentIndex == 1}? 'page-item disabled' : 'page-item'">
									<a class="page-link" th:href="@{|${baseUrl}1|}">First</a>
								</li>
								<li
									th:class="${currentIndex == 1}? 'page-item disabled': 'page-item' ">
									<a class="page-link" aria-label="Previous"
									th:href="@{|${baseUrl}${currentIndex - 1}|}"
									title='Go to previous page'><span aria-hidden="true">«</span>
										<span class="sr-only"></span></a>
								</li>
								<li th:each="item : ${#numbers.sequence(beginIndex,endIndex)}"
									th:class="${item == currentIndex ? 'page-item active' :'page-item' }">
									<a class="page-link" th:href="@{|${baseUrl}${item}|}"> <span
										th:text='${item}'>1</span>
								</a>
								</li>
								<li
									th:class="${currentIndex == totalPageCount}? 'page-item disabled': 'page-item'">
									<a class="page-link" aria-label="Next"
									th:href="@{|${baseUrl}${currentIndex + 1}|}"
									title='Go to next page'><span aria-hidden="true">»</span> <span
										class="sr-only"></span></a>
								</li>
								<li
									th:class="${currentIndex == totalPageCount}? 'page-item disabled':'page-item'">
									<a class="page-link" th:href="@{|${baseUrl}${totalPageCount}|}">Last</a>
								</li>
							</ul>
						</th:block>
					</nav>
					<!-- /.container -->
				</div>
			</div>
		</div>
	</div>
	<script>
		var h1 = $("#templatemo_content_left").height();
		var h2 = $("#templatemo_content_right").height();
		if (h2 > h1)
			h1 = h2
		$("#templatemo_content_left").height(h1);
		$("#hr_hr").height(h1);
		$("#templatemo_content_right").height(h1);
	</script>
	<!-- end of content right -->
	<div class="cleaner_with_height"></div>
	<!-- end of content -->
	<footer th:replace="user_admin/indexheader :: ${footer}"></footer>
</body>
</html>