<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

<link th:href="@{/css/templatemo_style.css}" rel="stylesheet"
	type="text/css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<title>Change Password</title>
</head>
<body>
	<div th:if="${error}">
		<div class="alert alert-danger">
			<span th:text="${error}"></span>
		</div>
	</div>

	<div th:if="${param.success}">
		<script type="text/javascript">
			window.location.href = "/listUser";
		</script>
	</div>

	<nav th:replace="indexheader :: ${header}"></nav>

	<div id="templatemo_container">
		<div class="container">
			<div class="regis">
				<div class="text-center">
					<h1 class="text-center"
						style="margin: 0px 0px 0px 250px; width: 510px;">Admin Change
						Password For User</h1>
					<br> <br>
					<div class="text-center">
						<form
							th:action="@{'/listUser/edit-user-'+${person.id}+'/changePassword'}"
							th:object="${person}" method="post"
							style="margin: 0px 0px 0px 25px">

							<p class="error-message" th:if="${#fields.hasGlobalErrors()}"
								th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation
								error</p>

							<div class="form-group"
								th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
								<div class="input-group">
									<span class="input-group-addon" style="width: 167px;"><i
										class="glyphicon glyphicon-lock"></i>Password
									</span> <input style="width: 540px;" id="password"
										class="form-control" placeholder="password" type="password"
										th:field="*{password}" />
								</div>
								<p class="error-message"
									th:each="error: ${#fields.errors('password')}"
									th:text="${error}">Validation error</p>
							</div>
							<div class="form-group"
								th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
								<div class="input-group">
									<span class="input-group-addon"> <i
										class="glyphicon glyphicon-lock"></i>Confirm Password
									</span> <input style="width: 540px;" id="confirmPassword"
										class="form-control" placeholder="Confirm password"
										type="password" th:field="*{confirmPassword}" />
								</div>
								<p class="error-message"
									th:each="error: ${#fields.errors('confirmPassword')}"
									th:text="${error}">Validation error</p>
							</div>

							<input type="hidden" name="birthday" id="birthday"
								th:field="*{birthday}" value="${person.birthday}"> <input
								type="hidden" name="id" id="id" value="${person.id}"
								th:field="*{id}"> <input type="hidden" name="firstName"
								id="firstName" value="${person.firstName}"
								th:field="*{firstName}"> <input type="hidden"
								name="lastName" id="lastName" value="${person.lastName}"
								th:field="*{lastName}"> <input type="hidden"
								name="email" id="email" value="${person.email}"
								th:field="*{email}"> <input type="hidden"
								name="userName" id="userName" value="${person.userName}"
								th:field="*{userName}"> <input type="hidden"
								name="phone" id="phone" value="${person.phone}"
								th:field="*{phone}"> <input type="hidden" name="address"
								id="address" value="${person.address}" th:field="*{address}">
							<input type="hidden" name="power" id="power"
								value="${person.power}" th:field="*{power}"> <input
								type="hidden" name="sex" id="sex" value="${person.sex}"
								th:field="*{sex}">
							<div class="form-group">
								<button type="submit" class="btn btn-block btn-success"
									style="width: 135px; margin: 0px 0px 0px 275px;">Reset
									password</button>
							</div>
							<br>
							<br>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="indexheader :: ${footer}"></footer>

	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>