<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link th:href="@{/css/templatemo_style.css}" rel="stylesheet"
	type="text/css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<title>Change Password</title>
</head>
<body>
	<nav th:replace="indexheader :: ${header}" ></nav>
	<div class="container">
		<h1 class="text-center">ADMIN CHANGE PASSWORD</h1>
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="text-center">
							<h3>
								<i class="glyphicon glyphicon-lock" style="font-size: 2em;"></i>
							</h3>
							<h2 class="text-center">Change Password</h2>
							<div class="panel-body">

								<div th:if="${error}">
									<div class="alert alert-danger">
										<span th:text="${error}"></span>
									</div>
								</div>

								<div th:if="${param.success}">
									<script type="text/javascript">
										window.location.href = "/listUser";
									</script>
								</div>

								<form
									th:action="@{'/listUser/edit-user-'+${person.id}+'/changePassword'}"
									th:object="${person}" method="post">

									<p class="error-message" th:if="${#fields.hasGlobalErrors()}"
										th:each="error : ${#fields.errors('global')}"
										th:text="${error}">Validation error</p>

									<div class="form-group"
										th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
										<div class="input-group">
											<span class="input-group-addon"> Password <i
												class="glyphicon glyphicon-lock"></i>
											</span> <input id="password" class="form-control"
												placeholder="password" type="password"
												th:field="*{password}" />
										</div>
										<p class="error-message"
											th:each="error: ${#fields.errors('password')}"
											th:text="${error}">Validation error</p>
									</div>
									<div class="form-group"
										th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
										<div class="input-group">
											<span class="input-group-addon"> <i
												class="glyphicon glyphicon-lock"></i>
											Comfirm Password</span> <input id="confirmPassword" class="form-control"
												placeholder="Confirm password" type="password"
												th:field="*{confirmPassword}" />
										</div>
										<p class="error-message"
											th:each="error: ${#fields.errors('confirmPassword')}"
											th:text="${error}">Validation error</p>
									</div>

									<input type="hidden" name="birthday" id="birthday"
										th:field="*{birthday}" value="${person.birthday}"> <input
										type="hidden" name="id" id="id" value="${person.id}"
										th:field="*{id}"> <input type="hidden"
										name="firstName" id="firstName" value="${person.firstName}"
										th:field="*{firstName}"> <input type="hidden"
										name="lastName" id="lastName" value="${person.lastName}"
										th:field="*{lastName}"> <input type="hidden"
										name="email" id="email" value="${person.email}"
										th:field="*{email}"> <input type="hidden"
										name="userName" id="userName" value="${person.userName}"
										th:field="*{userName}"> <input type="hidden"
										name="phone" id="phone" value="${person.phone}"
										th:field="*{phone}"> <input type="hidden"
										name="address" id="address" value="${person.address}"
										th:field="*{address}"> <input type="hidden"
										name="power" id="power" value="${person.power}"
										th:field="*{power}"> <input type="hidden" name="sex"
										id="sex" value="${person.sex}" th:field="*{sex}">
									<div class="form-group">
										<button type="submit" class="btn btn-block btn-success">Reset
											password  </button>
										<a th:href="@{'/listUser/edit-user-'+${person.id}}"> back </a>
									</div>
							</div>
							<br>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="indexheader :: ${footer}"></footer>
	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>