<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Category</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link th:href="@{/css/templatemo_style.css}" rel="stylesheet"
	type="text/css" />
<link th:href="@{/css/category.css}" rel="stylesheet" type="text/css" />
</head>

<body>

	<nav th:replace="indexheader :: ${header}"></nav>
	<div id="templatemo_container">
		<div id="templatemo_content">

			<div id="templatemo_content_left">
				<nav th:replace="indexheader :: templatemo_content_left_sec"></nav>
			</div>
			<!-- end of content left -->
			<div id="templatemo_content_right">

			
			<div th:if="${success}">
				<span th:text="${success}"></span>
			</div>
			<div class="search">
			<form th:action="@{/categorylist/search/1}" method="get">


				<div th:if="${success}">
					<span th:text="${success}"></span>
				</div>
				<div class="search">
					<div class="container_right">
						<input id="searchBar" class="searchbar" type="text" name="s"
							placeholder="Category name..."> </input>
					
						<button class="btn-search" type="submit">Search</button>
					
				</div>
				</form>
				</div>
				<div class="container_right">
					<p class="my-5">
						<a th:href="@{/addition}" class="btn"><i> Add Category</i></a>
					</p>
					<th:block th:if="${#lists.isEmpty(categoryL.pageList)}">
						<h3>No Category</h3>
					</th:block>

					<th:block th:unless="${#lists.isEmpty(categoryL.pageList)}">

						<div>
							<table class="content-table" align="center">
								<thead>
									<tr>
										<th>CategoryID</th>
										<th>Name</th>
										<th>Createdate</th>
										<th>Updatedate</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="category : ${categoryL.pageList}">
										<td th:text="${category.id}"></td>
										<td th:text="${category.name}"></td>
										<td th:text="${category.createdate}"></td>
										<td th:text="${category.updatedate}"></td>
										<td><a
											th:href="@{/categorylist/delete/{id}(id=${category.id})}" />Delete</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="center">
							<div class="pagination">
								<li
									th:class="${currentIndex == 1}? 'page-item disabled' : 'page-item'">
									<a class="page-link" th:href="@{/categorylist}">First</a>
								</li>
								<li
									th:class="${currentIndex == 1}? 'page-item disabled': 'page-item' ">
									<a class="page-link" aria-label="Previous"
									th:href="@{|${baseUrl}${currentIndex - 1}|}"
									title='Go to previous page'><span aria-hidden="true">«</span>
										<span class="sr-only"></span></a>
								</li>
								<li th:each="item : ${#numbers.sequence(beginIndex,endIndex)}"
									th:class="${item == currentIndex ? 'page-item active' :'page-item' }">
									<a class="page-link" th:href="@{|${baseUrl}${item}|}"> <span
										th:text='${item}'>1</span>
								</a>
								</li>
								<li
									th:class="${currentIndex == totalPageCount}? 'page-item disabled': 'page-item'">
									<a class="page-link" aria-label="Next"
									th:href="@{|${baseUrl}${currentIndex + 1}|}"
									title='Go to next page'><span aria-hidden="true">»</span> <span
										class="sr-only"></span></a>
								</li>
								<li
									th:class="${currentIndex == totalPageCount}? 'page-item disabled':'page-item'">
									<a class="page-link" th:href="@{|${baseUrl}${totalPageCount}|}">Last</a>
								</li>
							</div>
						</div>
					</th:block>
				</div>
			</div>
		</div>
		<!-- end of content right -->
		<div class="cleaner_with_height">&nbsp;</div>
	</div>
	<!-- end of content -->
	
	<footer th:replace="indexheader :: ${footer}"></footer>
</body>

</html>