<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Change Password</title>

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

<meta name="keywords" content="" />
<meta name="description" content="" />
<link th:href="@{/css/templatemo_style.css}" rel="stylesheet"
	type="text/css" />
</head>
<body>

	<div th:if="${param.success}">
		<script type="text/javascript">
			window.location.href = "/accountUser";
		</script>
	</div>

	<div th:if="${error}">
		<div class="alert alert-danger">
			<span th:text="${error}"></span>
		</div>
	</div>

	<nav th:replace="indexheader :: ${header}"></nav>
	
	<div id="templatemo_container">
		<div class="container">
			<div class="regis">
				<h1 class="text-center" style="margin: 0px 0px 0px 250px;">Change
					Password</h1>
				</br> </br>

				<form th:action="@{/accountUser/changePassword}"
					th:object="${person2}" method="post">

					<input type="hidden" id="userName" name="userName"
						th:value="${person2.userName}">

						<p class="error-message" th:if="${#fields.hasGlobalErrors()}"
							th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation
							error</p>

						<div class="form-group"
							th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
							<div class="input-group">
								<span class="input-group-addon" style="width: 167px;"> <i
									class="glyphicon glyphicon-lock"></i> Password
								</span> <input style="width: 540px;" id="password" class="form-control"
									placeholder="password" type="password" th:field="*{password}" />
							</div>
							<p class="error-message"
								th:each="error: ${#fields.errors('password')}"
								th:text="${error}">Validation error</p>
						</div>
						<div class="form-group"
							th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
							<div class="input-group">
								<span class="input-group-addon"> <i
									class="glyphicon glyphicon-lock"></i>Confirm Password
								</span> <input style="width: 540px;" id="confirmPassword"
									class="form-control" placeholder="Confirm password"
									type="password" th:field="*{confirmPassword}" />
							</div>
							<p class="error-message"
								th:each="error: ${#fields.errors('confirmPassword')}"
								th:text="${error}">Validation error</p>
						</div> <br></br>
						<div class="form-group">
							<div id="gg">
								<button type="submit" class="btn btn-block btn-success"
									style="width: 135px; margin: 0px 0px 0px 195px;">Reset
									password</button>
							</div>
						</div> <br></br>
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="indexheader :: ${footer}"></footer>
</body>
</html>