<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Book Store</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link th:href="@{/css/templatemo_style.css}" rel="stylesheet"
	type="text/css" />
<link th:href="@{/css/listbook.css}" rel="stylesheet" type="text/css" />
</head>

<body>

	<nav th:replace="indexheader :: ${header}"></nav>
	<div id="templatemo_container">
		<div id="templatemo_content">

			<div id="templatemo_content_left">
				<nav th:replace="indexheader :: templatemo_content_left_sec"></nav>
			</div>
			<!-- end of content left -->
			<!-- 			<div class="row">
				<a th:href="@{/employee/create}" class="btn btn-success pull-left">
					<span class="glyphicon glyphicon-plus"></span> Add new employee
				</a>
				<form class="form-inline pull-right" action="#"
					th:action="@{/employee/search}" >
					<div class="form-group">
						<input type="text" class="form-control" name="s"
							placeholder="Type employee name..." />
					</div>
					<button type="submit" class="btn btn-primary">Search</button>
				</form>
			</div> -->
			<div id="templatemo_content_right">
			<br></br>
				<table class="table" align="center">
					<thead>
						<tr style="font-size: 10px;">
							<th>ID</th>
							<th>PUBLISHINGHOUSE</th>
							<th>CREATEDNAME</th>
							<th>CREATEDDATE</th>
							<th>UPLOADNAME</th>
							<th>UPDATEDATE</th>
							<!--<th>Edit</th> -->
							<th>Delete</th>
						</tr>
					</thead>
					<tbody style="background: #C6C9C4">
						<tr>
							<td><span th:text="${publisher.id}">ID</span></td>
							<td><span th:text="${publisher.publisher}">Publisher</span></td>
							<td><span th:text="${publisher.createName}">CreateName</span></td>
							<td><span th:text="${publisher.createDate}">CrateDate</span></td>
							<td><span th:text="${publisher.updateName}">UploadName</span></td>
							<td><span th:text="${publisher.updateDate}">UploadDate</span></td>
							<!-- <td><a th:href="@{/publisher/{id}/edit(id=${publisher.id})}"></a></td> -->
							<td><a
								th:href="@{/publisher/{id}/delete(id=${publisher.id})}">delete</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<!-- end of content right -->
			<div class="cleaner_with_height">&nbsp;</div>
		</div>
		<!-- end of content -->
	</div>
	<footer th:replace="indexheader :: ${footer}"></footer>
</body>
</html>