<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link th:href="@{/css/templatemo_style.css}" rel="stylesheet"
	type="text/css" />
<title>Forgot Password</title>
</head>
<body>
	<nav th:replace="indexheader :: ${header}"></nav>
	<div class="container">
		<div class="row">

			<div class="col-md-4 col-md-offset-4">
				<div th:if="${param.success}">
					<div class="alert alert-info"
						style="margin: 0px 0px 0px -335px; color: #e6e154; border: none;">You've
						successfully requested a new password reset!</div>
				</div>
				<div class="panel panel-default" style="border-color: #4b4743";>
					<div class="panel-body" style="background: #4b4743";>

						<div class="text-center">
							<h3>
								<i class="glyphicon glyphicon-lock" style="font-size: 2em; color:#5cb85c;"></i>
							</h3>
							<h2 class="text-center" style="color:#5cb85c;">Forgot Password?</h2>
							<p>Enter your e-mail address and we'll send you a link to
								reset your password.</p>
							<div class="panel-body">



								<form th:action="@{/forgot-password}"
									th:object="${forgotPasswordForm}" method="post">
									<div class="form-group"
										th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
										<div class="input-group">
											<span class="input-group-addon"> <i
												class="glyphicon glyphicon-envelope color-blue"></i>
											</span> <input id="email" class="form-control"
												placeholder="email address" th:field="*{email}" />
										</div>
										<p class="error-message"
											th:each="error : ${#fields.errors('email')}"
											th:text="${error}">Validation error</p>
									</div>
									<div class="form-group">
										<button type="submit" class="btn btn-success btn-block">Reset
											Password</button>
									</div>
								</form>

							</div>
						</div>
					</div>
				</div>
				<div class="">
					<div class="col-md-12">
						New user? <a href="/" th:href="@{/registration}">Register</a>
					</div>
					<div class="col-md-12">
						Already registered? <a href="/" th:href="@{/login}"
							style="font-size: 17px";>Login</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="indexheader :: ${footer}"></footer>
	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>
