<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Book Store</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link th:href="@{css/templatemo_style.css}" rel="stylesheet"
	type="text/css" />
</head>

<body>

	<nav th:fragment="header_login">
	<div id="templatemo_container">
		<div id="templatemo_menu">
			<ul>
				<li><a th:href="@{/}" class="current">Home</a></li>
				<li><a th:href="@{/upload}">Upload</a></li>
				<li><a th:href="@{/book}">Books</a></li>
				<li><a href="subpage.html">New Releases</a></li>
				<li><a href="#">Company</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
			<div class="login">
				<a th:href="@{/registration}">Registration</a> <a
					th:href="@{/login}">Login</a>
			</div>
		</div>
		<!-- end of menu -->

		<div id="templatemo_header">
			<div id="templatemo_special_offers">

				<a th:href="@{/}" style="margin-left: 50px;">Read more...</a>
			</div>


			<div id="templatemo_new_books">

				<a th:href="@{/}" style="margin-left: 50px;">Read more...</a>
			</div>
		</div>
		<!-- end of header -->
	</div>
	</nav>

	<nav th:fragment="header_user">
	<div id="templatemo_container">
		<div id="templatemo_menu">
			<ul>
				<li><a th:href="@{/}">Home</a></li>
				<li><a th:href="@{/upload}">Upload</a></li>
				<li><a th:href="@{/book}">Books</a></li>
				<li><a href="index.html">New Releases</a></li>
				<li><a href="#">Company</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
			<div class="user-admin">
				<a th:href="@{/accountUser}">My Account</a> <a th:href="@{/logout}">Logout</a>
			</div>
		</div>
		<!-- end of menu -->

		<div id="templatemo_header">
			<div id="templatemo_special_offers">
				<p>
					<span>25%</span> discounts for purchase over $ 40
				</p>
				<a href="#" style="margin-left: 50px;">Read more...</a>
			</div>


			<div id="templatemo_new_books">
				<ul>
					<li>Suspen disse</li>
					<li>Maece nas metus</li>
					<li>In sed risus ac feli</li>
				</ul>
				<a href="#" style="margin-left: 50px;">Read more...</a>
			</div>
		</div>
	</div>
	</nav>

	<nav th:fragment="header_admin">
	<div id="templatemo_container">
		<div id="templatemo_menu">
			<ul>
				<li><a th:href="@{/}">Home</a></li>
				<li><a th:href="@{/upload}">Upload</a></li>
				<li><a th:href="@{/book}">Books</a></li>
				<li><a href="index.html">New Releases</a></li>
				<li><a href="#">Company</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
			<div class="user-admin">
				<a th:href="@{/listUser}">List Account</a> <a
					th:href="@{/accountAdmin}">My Account</a> <a th:href="@{/logout}">Logout</a>
			</div>
		</div>
		<!-- end of menu -->

		<div id="templatemo_header">
			<div id="templatemo_special_offers">
				<p>
					<span>25%</span> discounts for purchase over $ 40
				</p>
				<a href="#" style="margin-left: 50px;">Read more...</a>
			</div>


			<div id="templatemo_new_books">
				<ul>
					<li>Suspen disse</li>
					<li>Maece nas metus</li>
					<li>In sed risus ac feli</li>
				</ul>
				<a href="#" style="margin-left: 50px;">Read more...</a>
			</div>
		</div>
	</div>
	</nav>

	<!-- footer -->
	<footer th:fragment="footer_login">
	<div id="templatemo_footer">

		<a th:href="@{/}">Home</a> | <a th:href="@{/upload}">Upload</a> | <a
			th:href="@{/book}">Books</a> | <a href="#">New Releases</a> | <a
			href="#">FAQs</a> | <a href="#">Contact Us</a><br /> Copyright ©
		2019 <a href="#"><strong>JDEV</strong></a>
		<!-- Credit: www.templatemo.com -->
	</div>
	</footer>

	<footer th:fragment="footer_user">
	<div id="templatemo_footer">
		<a th:href="@{/}">Home</a> | <a th:href="@{/upload}">Upload</a> | <a
			th:href="@{/book}">Books</a> | <a href="#">New Releases</a> | <a
			href="#">FAQs</a> | <a href="#">Contact Us</a><br /> Copyright ©
		2019 <a href="#"><strong>JDEV</strong></a>
	</div>
	</footer>

	<footer th:fragment="footer_admin">
	<div id="templatemo_footer">
		<a th:href="@{/}">Home</a> | <a th:href="@{/upload}">Upload</a> | <a
			th:href="@{/book}">Books</a> | <a href="#">New Releases</a> | <a
			href="#">FAQs</a> | <a href="#">Contact Us</a><br /> Copyright ©
		2019 <a href="#"><strong>JDEV</strong></a>
	</div>
	</footer>

	<nav th:fragment="templatemo_content_left_sec">
	<div class="templatemo_content_left_section">
		<h1>
			<a th:href="@{/categoryList}">All Categories</a>
		</h1>
		<div th:each="contact,iterStat : ${categories.pageList}">
			<ul>
				<li style="max-width: 180px;"><a th:href="@{|/search/1?s=${contact.name}|}"><span
					th:text="${contact.name}"
					style="width: 180px !important; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: flow-root; max-width: 180px"; ></span></a></li>
			</ul>
		</div>
	</div>
	<div class="templatemo_content_left_section">
		<h1>
			<a th:href="@{/publishersList}">All Publishers</a>
		</h1>
		<div th:each="contact,iterStat : ${publishers.pageList}">
			<ul>
				<li style="max-width: 180px;"><a
					th:href="@{|/search/1?s=${contact.publisher}|}"><span
						th:text="${contact.publisher}"
						style="width: 180px !important; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: flow-root; max-width: 180px";></span></a></li>
			</ul>
		</div>
	</div>
	<div class="templatemo_content_left_section">
		<a href="http://validator.w3.org/check?uri=referer"><img
			style="border: 0; width: 88px; height: 31px"
			src="http://www.w3.org/Icons/valid-xhtml10"
			alt="Valid XHTML 1.0 Transitional" width="88" height="31" vspace="8"
			border="0" /></a> <a
			href="http://jigsaw.w3.org/css-validator/check/referer"><img
			style="border: 0; width: 88px; height: 31px"
			src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
			alt="Valid CSS!" vspace="8" border="0" /></a>
	</div>
	</nav>
</body>
</html>