<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Book Store</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link th:href="@{css/templatemo_style.css}" rel="stylesheet"
	type="text/css" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<style>
		tr{
			font-weight: bold;
			background-color: #C6C9C4;
		}
</style>
<title>User's List</title>
</head>
<body>
	<nav th:replace="indexheader :: ${header}"></nav>
	<div id="templatemo_container">
		<div class="container">
				<h1>List User</h1>
				<a th:href="@{/userList/adminAddUser}">Add New User</a>
				<table class="table">
				<thead>
					<tr>
						<th> ID </th>
						<th> USERNAME </th>
						<th> FIRSTNAME </th>
						<th> LASTNAME </th>
						<th> POWER </th>
						<th> UPDATE </th>
						<th> DELETE </th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${list.empty}">
						<td colspan="2"> No User Available </td>
					</tr>
					<tr th:each="user : ${list}">
						<td><span th:text="${user.id}">ID</span></td>
						<td><span th:text="${user.username}">USERNAME</span></td>
						<td><span th:text="${user.firstname}">FIRSTNAME</span></td>
						<td><span th:text="${user.lastname}">LASTNAME</span></td>
						<td><span th:text="${user.power}">POWER</span></td>
						<td><a th:href="@{'/listUser/edit-user-'+${user.id}}">UPDATE</a></td>
						<td><a th:href="@{'/listUser/delete-user-'+${user.id}}">DELETE</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		</div>
		<footer th:replace="indexheader :: ${footer}"></footer>
</body>
</html>