<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!--   <head>
    <meta charset="UTF-8" />
    <title>Publisher List</title>

  </head> -->

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<title>Publisher</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<!-- <link rel="stylesheet" href="../css/shards.min.css"> -->

<link th:href="@{css/templatemo_style.css}" rel="stylesheet"
	type="text/css" />
<link th:href="@{css/publisher.css}" rel="stylesheet" type="text/css" />
</head>

<body>

	<nav th:replace="indexheader :: header"></nav>
	<div id="templatemo_container">
		<div id="templatemo_content">

			<div id="templatemo_content_left">
				<div class="templatemo_content_left_section">
					<h1>Categories</h1>
					<ul>
						<li><a href="categorylist">Category</a></li>
						<li><a href="subpage.html">Proin vulputate justo</a></li>
						<li><a href="#">In sed risus ac feli</a></li>
						<li><a href="#">Aliquam tristique dolor</a></li>
						<li><a href="#">Maece nas metus</a></li>
						<li><a href="#">Sed pellentesque placerat</a></li>
						<li><a href="#">Suspen disse</a></li>
						<li><a href="#">Maece nas metus</a></li>
						<li><a href="#">In sed risus ac feli</a></li>
					</ul>
				</div>
				<div class="templatemo_content_left_section">
					<h1>Bestsellers</h1>
					<ul>
						<li><a href="publishersList">Publisher</a></li>
						<li><a href="#">Vestibulum ullamcorper</a></li>
						<li><a href="#">Maece nas metus</a></li>
						<li><a href="#">In sed risus ac feli</a></li>
						<li><a href="#">Praesent mattis varius</a></li>
						<li><a href="#">Maece nas metus</a></li>
						<li><a href="#">In sed risus ac feli</a></li>
						<li><a href="#">Flash Templates</a></li>
						<li><a href="#">CSS Templates</a></li>
						<li><a href="#">Web Design</a></li>
						<li><a href="http://www.photovaco.com" target="_parent">Free
								Photos</a></li>
					</ul>
				</div>

				<div class="templatemo_content_left_section">
					<a href="http://validator.w3.org/check?uri=referer"><img
						style="border: 0; width: 88px; height: 31px"
						src="http://www.w3.org/Icons/valid-xhtml10"
						alt="Valid XHTML 1.0 Transitional" width="88" height="31"
						vspace="8" border="0" /></a> <a
						href="http://jigsaw.w3.org/css-validator/check/referer"><img
						style="border: 0; width: 88px; height: 31px"
						src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
						alt="Valid CSS!" vspace="8" border="0" /></a>
				</div>
			</div>
			<!-- end of content left -->

<!-- 			<div class="row">
				<a th:href="@{/employee/create}" class="btn btn-success pull-left">
					<span class="glyphicon glyphicon-plus"></span> Add new employee
				</a>
				<form class="form-inline pull-right" action="#"
					th:action="@{/employee/search}" method="GET">
					<div class="form-group">
						<input type="text" class="form-control" name="s"
							placeholder="Type employee name..." />
					</div>
					<button type="submit" class="btn btn-primary">Search</button>
				</form>
			</div> -->
			
			<form th:action="@{/publishersList}" th:object="${category}"
				method="get">
				<p class="my-5">
					<a href="" class="btn"><i> Add Publisher</i></a>
				</p>
				<div>
					<table class="content-table" align="center">
						<thead>
							<tr>
								<th>ID</th>
								<th>PUBLISHINGHOUSE</th>
								<th>CREATEDNAME</th>
								<th>CREATEDDATE</th>
								<th>UPLOADNAME</th>
								<th>UPDATEDATE</th>
								<th>Edit</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="publisher:${publishers}">
								<td th:utext="${publisher.id}">ID</td>
								<td th:utext="${publisher.publisher}">Publisher</td>
								<td th:utext="${publisher.createName}">CreateName</td>
								<td th:utext="${publisher.createDate}">CrateDate</td>
								<td th:utext="${publisher.updateName}">UploadName</td>
								<td th:utext="${publisher.updateDate}">UploadDate</td>
								<td><a
									th:href="@{/publisher/{id}/edit(id=${publisher.id})}"
									class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
								<td><a onclick="myFunction()" class="btn btn-primary"><i
										class="fas fa-user-times ml-2"></i></a></td>
								<p id="demo"></p>

								<script>
									function myFunction() {
										var txt;
										if (confirm("ban co chac muon xoa !")) {
											th:href="@{/publisher/{id}/delete(id=${publisher.id})}"
										} else {
											return "publishersList";
										}
										document.getElementById("demo").innerHTML = txt;
									}
								</script>
						</tbody>
					</table>
				</div>
			</form>

			<!-- end of content right -->
			<div class="cleaner_with_height">&nbsp;</div>
		</div>
		<!-- end of content -->
	</div>
	<footer th:replace="indexheader :: footer"></footer>
</body>
</html>