<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>


<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

<link th:href="@{/css/templatemo_style.css}" rel="stylesheet"
	type="text/css" />
<link th:href="@{/css/publisher.css}" rel="stylesheet" type="text/css" />
</head>
<body>

	<nav th:replace="indexheader :: ${header}"></nav>
	<div id="templatemo_container">
		<div id="templatemo_content">

			<div id="templatemo_content_left">
				<nav th:replace="indexheader :: templatemo_content_left_sec"></nav>
			</div>
			<!-- end of content left -->

			<div id="templatemo_content_right">
				<form action="#" th:action="@{/publisher/save}"
					th:object="${publisher}" method="POST"
					style="width: 550px; margin: -25px 0px 0px 70px;">
					<input type="hidden" value="${publisher.id}" th:field="*{id}" />
					<div class="form-group" style="margin: 35px 0px 0px 50px;">
						<label class="font">PUBLISHINGHOUSE: </label> <input type="text"
							value="${publisher.publisher}" class="form-control"
							th:field="*{publisher}" />
					</div>
					<div class="form-group" style="margin: 35px 0px 0px 50px;">
						<label class="font">CREATEDATE: </label> <input type="date"
							value="${publisher.createDate}" class="form-control"
							th:field="*{createDate}" />
					</div>
					<div class="form-group" style="margin: 35px 0px 0px 50px;">
						<label class="font">CRATENAME: </label> <input type="text"
							value="${publisher.createName}" class="form-control"
							th:field="*{createName}" />
					</div>
					<div class="form-group" style="margin: 35px 0px 0px 50px;">
						<label class="font">UPLOADNAME: </label> <input type="text"
							value="${publisher.updateName}" class="form-control"
							th:field="*{updateName}" />
					</div>
					<div class="form-group" style="margin: 35px 0px 0px 50px;">
						<label class="font">UPDATEDATE: </label> <input type="date"
							value="${publisher.updateDate}" class="form-control"
							th:field="*{updateDate}" />
					</div>
					<button type="submit" class="btn btn-primary"
						style="margin: 20px 0px 0px 270px;">Save</button>
				</form>
			</div>
			<div class="cleaner_with_height">&nbsp;</div>
		</div>
		<!-- end of content -->

		<footer th:replace="indexheader :: ${footer}"></footer>
</body>
</html>