<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Book Store</title>
<meta name="keywords" content="" />
<meta name="description" content="" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

<link th:href="@{/css/templatemo_style.css}" rel="stylesheet"
	type="text/css" />

<link th:href="@{/css/listbook.css}" rel="stylesheet" type="text/css" />



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"
	th:src="@{/webjars/jquery/1.12.4/jquery.min.js}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</head>
<body>

	<nav th:replace="indexheader :: ${header}"></nav>
	<div id="templatemo_container">
		<div id="templatemo_content">

			<div id="templatemo_content_left">
				<nav th:replace="indexheader :: templatemo_content_left_sec"></nav>
			</div>
			<!-- end of content left -->
			<div id="templatemo_content_right">

				<form action="#" th:action="@{/book/save}" th:object="${book}"
					method="POST" style="width: 430px; margin: 0px 0px 0px 140px;">
					<input type="hidden" value="${book.id}" th:field="*{id}" />
					<div class="form-group" style="margin: 35px 0px 0px 50px;">
						<label class="font">Title </label> <input type="text"
							value="${book.title}" class="form-control" th:field="*{title}" />
					</div>

					<div class="form-group" style="margin: 35px 0px 0px 50px;">
						<label class="font">Price </label> <input type="text"
							value="${book.price}" class="form-control" th:field="*{price}" />
					</div>
					<div class="form-group" style="margin: 35px 0px 0px 50px;">
						<label class="font">Domain </label> <input type="text"
							value="${book.domain}" class="form-control" th:field="*{domain}" />
					</div>
				
					<div class="form-group" style="margin: 35px 0px 0px 50px;">
						<label class="font">Upload Image</label> <input type="file" 
						th:value="${'images/' + book.picture}" class="form-control" th:field="*{picture}" />
					</div>

					<div class="form-group" style="margin: 35px 0px 30px 50px;">
						<label class="font">Author</label> <input type="text"
							th:value="${book.authors}" class="form-control" th:field="*{authors}" />
					</div>
					<button type="submit" class="btn btn-primary"
						style="margin: 55px 0px 0px 210px";>Save</button>
				</form>
				<!-- /.container -->



				<!-- end of content right -->
				<div class="cleaner_with_height">&nbsp;</div>
			</div>
		</div>
		<!-- end of content -->
	</div>
	
	<div class="cleaner_with_height">&nbsp;</div>
	<div class="cleaner_with_height">&nbsp;</div>
	<footer th:replace="indexheader :: ${footer}"></footer>
</body>
</html>